.mainDiv {
    background-image: linear-gradient(90deg, #333C45 0%, #363D47 35%, #72635E, #CBA16E 100%);
     margin-top: 7rem;
    height: 20rem;
}

@media (max-width: 375px) {
    .mainDiv{
        width: 22.50rem;
        height: 35rem;
    }
}

.mainImg{
    width: 3rem;
    height: 3rem;

}
@media (max-width: 375px) {
    .mainImg{
        width: 2rem;
        height: 2rem;
    }
}
.mainText .mainTextHeader {
    font-weight: bolder;
    font-family:  AvantGrande, cursive;
    color: #FFFFFF;
}

@media (max-width: 375px) {
    .mainText .mainTextHeader{
        font-size: 20px;
        margin-top: -0.10rem;
    }
}
.mainText p{
    font-family: DreamingOut-loud, cursive;
    font-weight: 500;
    font-size: small;
    font-style: inherit;

}

@media (max-width: 375px) {
    .mainText p{
        font-size: 16px;
        padding-top: 0.20rem;

    }
}

.logoWrap{
    display: flex;
    padding-top: 1.20rem;

}
.logoWrap h1{
    margin: 0.3rem;
    padding-left: -15rem;
    font-size: 1.65rem;
    font-family: Verdana, serif;
}

.logoWrap p{
    margin-top: -0.5rem;
    padding-left: 1rem

}

.imgDiv{
    display: flex;
    flex-direction: row;
}

.imgDiv img{
    width: 3.50rem;
    height: 3.50rem;
}

@media (max-width: 375px) {
    .imgDiv img{
        width: 2.50rem;
        height: 2.50rem;
        padding-top: 0.15rem;
    }
}

.wrapperDiv{
    display: flex;
    flex-direction: row;
}

.firstDiv p{
    color: #FFFFFF;
}

@media (max-width: 375px) {
    .firstDiv p {
        font-size: 14px;
        padding-top: 0.15rem;
    }
}

.secondDiv{
    display: flex;
    flex-direction: column;
    gap: -0.45rem;
    margin-top: 2rem;
}

.secondDiv p{
    color: #FFFFFF;
}

@media (max-width: 375px) {
    .secondDiv{
        font-size: 13px;
    }
}

@media (max-width: 375px) {
    .secondDiv h4{

        font-size: 16px;
        color: #e79b66;
    }
}

.mainCont{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin-left: 7rem;
     margin-top: 1rem;
}

@media (max-width: 375px) {
    .mainCont{
        margin-left: 5.50rem;
        flex-direction: column;
        gap: 0.10rem;
    }
}
