@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'DreamingOut-loud';
    src: url("DreamingOut_loud/dreaming-outloud-script-slanted-pro.otf") format("truetype");
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'Britanica';
    src: url("britanica/britanica-black.ttf") format('truetype');
}
*{
    margin: 0;
    padding:0;
}

@media  (min-width: 576px) {
    *{
        margin: 0;
        padding: 0;
    }
}

body{
    min-height: 100vh;
}

@media  (min-width: 285px) {
    body{
        min-height: 100vh;
    }

}

.mainDiv{
    width: 25rem;
    background-image: linear-gradient(90deg, #333C45 0%, #363D47 35%,#72635E, #CBA16E 100%);
}

@media  (min-width: 285px) {
    .mainDiv{
        width: 21rem;
    }
}
.logoWrapper{
    display: flex;
    flex-direction: row;
}

@media  (min-width: 285px) {
    .logoWrapper{
        padding-top: 3rem;
    }
}
.logoImg{
    width: 2rem;
    height: 2rem;
}


.logoText .logoTextHeader{
    color: #FFFFFF;
    font-family: Verdana, serif;
    font-size: 24px;

}

@media  (min-width: 285px) {
    .logoText .logoTextHeader{
        color: #FFFFFF;
        font-family: Verdana, serif;
        font-size: 24px;
        margin-left: 0.25rem;

    }
}

.logoText  p{
    color: #FFFFFF;
    font-family: DreamingOut-loud, cursive;
    font-size: 12px;
}

.menuBar{
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
    gap: 2rem;
}

 @media  (min-width: 285px) {
     .menuBar{
         display: flex;
         flex-direction: row;
         padding-top: 3rem;
         gap: 2rem;
         background-color: #000000;
     }
}

.navCont{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    gap: 1rem;


}

.navText{
    color: #FFFFFF;
}

.navConts{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 2rem;
}
.navConts p {
   color: #FFFFFF;
}

.navConts button{
    background:none;
    border-radius: 10px;
    border-color: #FFFFFF;
    width: 5rem;
    height: 2rem;
}

.heroText{
 padding-top: 2rem;
}
@media  (min-width: 285px) {
    .heroText{
        padding-top: 3rem;
        margin-left: -3rem;
    }
}
.heroText h1{
    font-size: 2rem;
    font-family: "Britanica",cursive;
    color: #CBA16E;
    padding-left: 2rem;
}

.heroText p {
    color: #FFFFFF;
    font-family: Helvetica, serif;
    font-size:1rem ;
    padding-left: 2rem;
    padding-top: 1rem;
}

@media  (min-width: 285px) {
    .heroText p {
        font-size: 0.85rem;
        width: 14rem;
    }
}

@media  (min-width: 285px) {
    .heroText p{
        padding-left: 6rem;
    }
}

.mainDiv .tabCont{
    background-color: #FFFFFF;
    padding-top: 3rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.tabCont .tabText img{
    margin-bottom: 1rem;
}


.tabCont .tabText h3{
    color: #9b421a;
}



.tabCont .tabText h4{
    color: #ab5832;
}




.tabText h5 {
    font-size: 1rem;
    padding-top: 2rem;
    color: #ad5b33;
}