.mainCont{
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    gap: 12rem;
    margin-top: 18rem;
}

@media  (max-width :375px) {
    .mainCont{
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        gap: 3rem;
        margin-top: -1rem;
        padding-left: 1rem;
    }

}

.pattern {
    margin-left: 11rem;
    margin-top: 3rem;
    width: 20rem;
    height: 23rem;
    background: linear-gradient( 90deg, #333C45 0%, #363D47 35%,#72635E, #CBA16E 100%);
}

@media  (max-width :375px) {
    .pattern {
        margin-left: -2rem;
        padding-left: -2rem;
        padding-top: -10rem;
        justify-items: center;
        align-content: center;
        width: 10rem;
        height: 7rem;
        background: linear-gradient( 90deg, #333C45 0%, #363D47 35%,#72635E, #CBA16E 100%);
    }
}

.mainText p{
    color: #8a3e08;
}

 .mainText .Activate{
    color: black;
}

@media  (max-width :375px) {
   .mainCont .mainText ul li{

       font-size: 0.80rem;
       width: 15rem;
       margin-left: 1rem;
    }
}

@media  (max-width :375px) {

    .Activate{
        font-size: 0.90rem;
        width: 17rem;
        padding-top: 0.50rem;
    }
}

@media  (max-width :375px) {
    h1  {
        font-size: 1.40rem;
    }
}