.mainCont{
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    gap: 12rem;
    margin-top: 18rem;
}

@media  (max-width :375px) {
    .mainCont{
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        gap: 3rem;
        padding-left: 1rem;
    }

}

.pattern {
    margin-left: 11rem;
    margin-top: 3rem;
    width: 20rem;
    height: 23rem;
    background: linear-gradient( 90deg, #333C45 0%, #363D47 35%,#72635E, #CBA16E 100%);
}

@media  (max-width :375px) {
    .pattern {
        margin-left: 1rem;
        margin-top: 5rem;
        width: 18.50rem;
        height: 7rem;
        background: linear-gradient( 90deg, #333C45 0%, #363D47 35%,#72635E, #CBA16E 100%);
    }
}
@media  (max-width :375px) {
    .mainText{
        padding-left: 20px;
    }
}

.mainText p{
    color: #8a3e08;
}

@media  (max-width :375px) {
    .mainText p{
        font-size: 15px;
    }
}

@media  (max-width :375px) {
    .mainText h1{
        margin-left: 0.10rem;
        font-size: 20px;
    }
}

 .mainText .Activate{
    color: black;
}

@media  (max-width :375px) {
   .mainCont .mainText ul li{

       font-size: 15px;
       width: 16rem;
       margin-left: 1rem;
    }
}

@media  (max-width :375px) {

    .Activate{
        font-size: 15px;
        width: 17rem;
        padding-top: 0.50rem;
    }
}

@media  (max-width :375px) {
    /*h1  {*/
    /*    font-size: 1.40rem;*/
    /*}*/
}