.mainCont{
    background-image: linear-gradient(90deg, #333C45 0%, #363D47 35%,#72635E, #CBA16E 100%);
    width: 61rem;
    height: 20rem;
     border-radius: 15px;
     margin-left: 7rem;
     margin-top: 5rem;
    display: flex;
    flex-direction: row;
    gap: 20rem;

}

@media (max-width: 375px) {
    .mainCont{
        display: flex;
        flex-direction: column;
        width: 19rem;
        height: 30rem;
        margin-left: 1.90rem;
        gap: 4rem;
    }
}
.firstDiv{
    margin-left: 4rem;

}



.firstDiv p{
    padding-top:3rem ;
    color: #be601d;
}

@media (max-width: 375px) {
    .firstDiv p {
        font-size: 14px;

    }
}

.firstDiv h1{
    padding-top:-2rem ;
    color: #FFFFFF;
}

@media (max-width: 375px) {
    .firstDiv h1{
        font-size: 22px;
    }
}

.firstDiv button{
    background-color:#be601d ;
    width: 10rem;
    height: 2.70rem;
    border-radius: 10px;
    border-color: #be601d;
}

@media (max-width: 375px) {
    .firstDiv button{
        width: 6rem;
        margin-top: 1rem;
        color: white;
        font-size: 12px;
        text-align: center;
    }
}

.secondDiv{
    background-color:  white;
    width: 17rem;
    height: 21rem;
    border-color: #8a3e08;
    border-radius: 10px;
}

@media (max-width: 375px) {
    .mainCont .secondDiv{
        width: 12rem;
        height: 12rem;
        border:3px solid black;
        background-image: linear-gradient(90deg, #eca4b3 0%, rgba(3, 6, 76, 0.51) 35%, rgba(3, 6, 76, 0.51), #8a3e08 100%);

        margin-left: 3.35rem;
    }
}