.mainCont{
    display: flex;
    flex-direction: column;
    width: 22rem;
    height: 22rem;
    background-image: linear-gradient(90deg, #333C45 0%, #363D47 35%,#72635E, #CBA16E 100%);
    gap: 2rem;
}

@media (max-width: 375px) {
    .mainCont{

        width: 19rem;
        height: 35rem;
        background-image: linear-gradient(90deg, #333C45 0%, #363D47 35%,#72635E, #CBA16E 100%);
        gap: 2rem;
        margin-left: 1.90rem;
        margin-top: 2rem;
    }

}

@media (max-width: 375px) {
    hr{
        width: 15rem;
        color: white;
        margin-left: 1.50rem;
        margin-top: -1.50rem;

    }
}

.mainCont .textDiv{
    color: white;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: -1rem;
    padding-left: 3.50rem;
    font-size: 16px;
}

h2{
    color: white;
    font-size: 20px;
    margin-top: 1rem;
    padding-left: 3.50rem;
}

.firstDiv{
    background-image: linear-gradient(90deg, rgba(48, 100, 200, 0.15) 0%, #363D47 35%, #b25615, #CBA16E 100%);
    width: 15rem;
    height: 15rem;
    color: #FFFFFF;
    border-radius: 10px;
    margin-left: 1.50rem;
    border: 2px solid white;
    font-size: 12px;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.secondDiv{
    background-image: linear-gradient(90deg, rgba(48, 100, 200, 0.15) 0%, #363D47 35%, #b25615, #CBA16E 100%);
    width: 15rem;
    height: 15rem;
    color: #FFFFFF;
    border-radius: 10px;
    margin-left: 1.50rem;
    border: 2px solid white;
    font-size: 12px;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;


}

.thirdDiv {

    background-image: linear-gradient(90deg, rgba(48, 100, 200, 0.15) 0%, #363D47 35%, #b25615, #CBA16E 100%);
    width: 15rem;
    height: 15rem;
    color: #FFFFFF;
    border-radius: 10px;
    margin-left: 1.50rem;
    border: 2px solid white;
    font-size: 12px;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-bottom: 2rem;
}

